
.page{
    color: #2E2F42 ;
    background-color:  #E5E5E5;

    font-family: 'Roboto', sans-serif;
}

/* основний колір тексту  #2E2F42 */
/* вторинний колір тексту #434455  */
/* колір основного фону #E5E5E5 */
/* колір вторинного фону #F4F4FD */
/* фон футер #2E2F42 */

/* ------------------ header -------------- */
.logo{
    color: #4D5AE5;
    
    font-family: 'Raleway',sans-serif;
    font-weight: 800px;
    font-size: 18px;
    line-height: 1.17;

}
.logo-title{
    color: #2E2F42;

    font-family: 'Raleway', sans-serif;
    font-weight: 800px;
    font-size: 18px;
    line-height: 1.17;
}


.link-nav{
color: #2E2F42;

font-weight: 500px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}


.contacts{
color: #434455;

font-weight: 400px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/*  -------------- herro ---------------- */
.herro-title{
/* color: #FFFFFF; */

font-weight: 700px;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}
.button{
    color: #FFFFFF;
background-color: #4D5AE5;

font-weight: 500px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

/* ---------------- about us --------------- */

.skills-title{
color: #2E2F42;

font-weight: 500px;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.skills-description{
color: #434455;


font-weight: 400px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* ---------------- what are we doing -------------- */

.examples{
    color: #2E2F42;

    font-weight: 700px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}





/* ---------------------- footer ---------------------- */
.footer{
    background-color: #2E2F42;
}