:root{
  --primary-text-color: #2E2F42;
  --secondary-text-color:#434455;
  --primary-logo-color:#4d5ae5;
  --primary-backround-color: #E5E5E5;
  --secondary-accent-color: #F4F4FD;
  --secondary-backround-color:#2E2F42;
  --primary-white-color:#ffffff;
  --hover-color: #404bbf;
  --button-color:#4d5ae5;
}


body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
}

/* основний колір тексту  #2E2F42 */
/* вторинний колір тексту #434455  */
/* колір основного фону #E5E5E5 */
/* колір вторинного фону #F4F4FD */
/* фон футер #2E2F42 */

/* ------------------ header -------------- */
.link{
  color: var(--primary-logo-color);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link .logo-part-black {
  color:var(--primary-text-color);
}
.link .logo-part-white {
  color: var(--secondary-accent-color);
}

.list{
  list-style: none;
  
}

.link-nav{
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
}
.link:hover,
.link:focus {
  color: var(--hover-color);
}

.contacts-title {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none ;
}

.contacts-title:hover,
.contacts-title:focus {
  color: var(--hover-color);
}
.contacts{
  font-style: normal;
  list-style: none;
  
}

/*  -------------- herro ---------------- */

.page-herro{
  background-color: var(--secondary-backround-color);
}
.herro-title {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center ;
}
.button {
  color: var(--primary-white-color);
  background-color: var(--button-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--hover-color);
}

/* ---------------- about us --------------- */

.title {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.description {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------- what are we doing -------------- */

.primary-title{
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

/* ---------------- team ------------------------------- */

.team{
  background-color: var(--secondary-accent-color);
color:var(--primary-text-color);

font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.list-title{
  background-color: var(--primary-white-color)
}

/* ---------------------- footer ---------------------- */
.footer {
  background-color: var(--primary-text-color);
}
.description-footer {
  color: var(--secondary-accent-color);

  font-size: 16px;
  line-height: 1.5;
}

/* ---------------------------- portfolio------------- */

.button-portfolio {
  color: var(--primary-logo-color);
  background-color: var(--secondary-accent-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--primary-white-color);
  background-color: var(--hover-color);
}
